@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Open+Sans:wght@400;600&display=swap');

@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@layer base {
	body {
		font-family: 'Open Sans', sans-serif;
		@apply bg-gray-50 text-gray-800;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: 'Montserrat', sans-serif;
		@apply font-bold;
	}
}

@layer components {
	.btn-primary {
		@apply bg-blue-600 hover:bg-blue-700 text-white font-semibold py-3 px-8 rounded-full shadow-lg transition duration-300;
	}

	.btn-whatsapp {
		@apply bg-green-600 hover:bg-green-700 text-white font-semibold py-3 px-8 rounded-full shadow-lg transition duration-300 flex items-center justify-center gap-3;
	}
}